* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  /* overflow-x: hidden; */
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* background-color: beige; */
}

#nav-main {
  position: fixed !important;
  z-index: 100;
  padding: 0 0.5vw;
  /* border-bottom: 2px solid #444; */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  z-index: 99999;
  width: 100%;
  margin-bottom: 0vh;
  background-color: transparent;
  height: 7vh;
  display: flex;
  justify-content: space-between;
}

#left-main-nav {
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  /* padding: 0vw; */
  padding-left: 3vw;
  align-items: center;
  overflow: hidden;
}

#left-main-nav img {
  z-index: 90;
  height: 2.3vw;
}

#nav-main-line {
  z-index: 90;
  width: 2px;
  margin: 0 1vw;
  height: 40%;
  background-color: rgb(157, 157, 157);
}

#left-main-nav a {
  font-size: 1.1vw;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#nav-main a {
  text-decoration: none;
  z-index: 90;
  color: #222222;
}

#left-main-nav a h4 {
  font-weight: 600;
}

#right-main-nav {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 55vw;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.2vw;
  justify-content: space-between !important;
  /* background-color: red; */
  margin-right: 1vw;
}

#right-main-nav a {
  margin-right: 0vw !important;
  font-size: 1.1vw;
}

#nav-main a {
  text-decoration: none;
  z-index: 90;
  color: #222222;
}

#right-main-nav a h4 {
  font-weight: 500;
}

#right-main-nav > i {
  margin-left: 0vw;
  font-size: 20px;
  color: #2181ff;
  z-index: 90;
  cursor: pointer;
  font-weight: 700;
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

body.overflow-hidden {
  overflow-x: hidden;
}

#nav {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 1vw 3vw;
  font-size: 1.1vw;
  font-weight: 500;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5vw;
  transition: background-color 0.6s ease-in-out;
  z-index: 1000;
}

#nav #logo {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

#logo h3 {
  font-size: 1.1vw;
  margin-top: -10px;
}

#logo span {
  font-size: 30px;
  opacity: 0.5;
  font-weight: 200;
}

#nav #logo img {
  width: 1.8vw;
}

#nav #pages {
  display: flex;
  justify-content: space-between;
  width: 55%;
  position: relative;
}

#pages a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.1vw;
  /* gap: 20px; */
}

#pages a:hover {
  opacity: 0.6;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

/* #fmain {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

#first {
  width: 100vw;
  display: flex;
}

#first #fleft {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#first-main{
  font-size: 1.7vw;
  font-weight: 900;
}

#first #fright {
  width: 50vw;
  height: 100vh;
  background-image: url(https://ik.imagekit.io/sheryians/photed_MVice1qZE.png);
  background-size: cover;
  background-position: center;
}

#first #fright img {
  width: 100%;
  height: 100%;
}

#leftcontent {
  padding: 10vw 4vw;
  padding-right: 0;
  padding-bottom: 2vw;
}

#leftcontent h1 {
  font-size: 4vw;
  font-weight: 500;
  line-height: 1.3;
}

#leftcontent h1 span {
  color: #289e8a;
}

#leftcontent h3 {
  padding-top: 20px;
  font-size: 1.1vw;
  font-weight: 500;
  display: flex;
  align-items: center;
}

#leftcontent h3 i {
  background-color: #289e8a;
  border-radius: 50%;
  font-size: 15px;
  margin-right: 1vw;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
} */

.button {
  padding: 1vw 0vw;
}

.button button {
  background-color: #289e8a;
  color: white;
  font-size: 1vw;
  font-weight: 500;
  padding: 1.6vw 2.3vw;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
}

/* #page1-down {
  padding: 2vw 4vw;
  display: flex;
  gap: 15px;
  align-items: center;
}

#page1-down #left {
  background-color: #289e8a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0.5;
}

#right h5 {
  font-weight: 500;
} */

#page-1 {
  width: 100vw;
  display: flex;
}

#page-1-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50vw;
}

#page-1-main {
  font-size: 1.7vw;
  font-weight: 900;
}

#page-1-main h1 {
  padding-bottom: 2vh;
  font-weight: 500;
  font-size: 4vw;
}

#page-1-main h1 span {
  color: #289e8a;
}

#page-1-main h6 i {
  margin-right: 1vw;
  background-color: #289e8a;
  color: #fff;
  height: 27px;
  font-size: 15px;
  width: 27px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-1-main h6 {
  align-items: center;
  display: flex;
  font-weight: 500;
  margin-top: 20px;
}

#page1-down {
  margin-top: 5vh;
  width: 35vw;
  padding: 2px;
  display: flex;
  align-items: center;
}

#page1-down #left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #a5ddd4;
  color: white;
}
/* 
#page1-down #left img {
  width: 50%;
} */

#page1-down #right {
  height: 100%;
  width: 85%;
  font-size: 1.1vw;
  padding: 10px;
  font-weight: 400;
  opacity: 80%;
}

#page-1-right {
  height: 100vh;
  width: 50vw;
  background-image: url(https://ik.imagekit.io/sheryians/photed_MVice1qZE.png);
  background-size: cover;
  background-position: center;
}

#second {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  /* padding-bottom: 6vw; */
}

#second #sfirst {
  padding: 10vw 27vw;
  padding-right: 26vw;
  /* margin: 10vw; */
  height: 50%;
  /* background-color: brown; */
}

#second #sfirst h1 {
  font-size: 2.9vw;
  font-weight: 500;
}

#second #sfirst h3 {
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 1.5;
}

#ssecond {
  height: 50%;
  background-color: white;
  padding: 3vw 27vw;
}

#ssecond #firstrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ssecond #firstrow img {
  width: 7vw;
  height: 4vw;
}

#ssecond #secondrow {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}

#ssecond #secondrow img {
  width: 7vw;
  height: 4vw;
}

#ssecond #firstrow img:nth-child(1) {
  width: 6vw;
  height: 6vw;
}

#ssecond #firstrow img:nth-child(2) {
  width: 10vw;
  height: 3vw;
}

#ssecond #secondrow img:nth-child(4) {
  width: 5vw;
  height: 3vw;
  margin-right: 10px;
}

#third {
  width: 100vw;
  display: flex;
  padding: 0 50px;
  padding-top: 8vh;
}

#leftA {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 60vh;
}

#leftA img {
  width: 80%;
}

#rightA {
  width: 50%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 10vw;
}

.lorem h1 {
  font-size: 2.7vw;
  font-weight: 500;
}

.lorem h5 {
  font-weight: 500;
  opacity: 80%;
  font-size: 1vw;
}

.lorem button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #cee1fa;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  cursor: pointer;
  font-weight: 700;
}

.lorem button:hover {
  background-color: #83b6f9;
  color: white;
}

#fourth {
  width: 100%;
  display: flex;
  padding: 0 50px;
  padding-bottom: 50px;
}

#last {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 20vh 10vw;
  /* background-color: red; */
}

#ek {
  width: 40vw;
  background-color: white;
}

#ek i {
  font-size: 40px;
}

#ek h1 {
  padding-top: 10px;
  font-weight: 500;
  padding-bottom: 20px;
  font-size: 2.2vw;
}

#ek a {
  text-decoration: none;
  color: olive;
  font-size: 1.5vw;
  opacity: 70%;
  font-weight: 400;
}

#ek h4 {
  font-weight: 500;
  opacity: 50%;
  padding-top: 4vh;
  font-size: 1vw;
}

#do {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  font-size: 3vw;
  font-weight: 500;
  opacity: 30%;
}

#footer {
  width: 100vw;
  background-color: #11111c;
  /* overflow-x: visible; */
}

#top {
  width: 100vw;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7vh;
  background-color: #151520;
}

#top h1 {
  font-weight: 500;
  font-size: 2.7vw;
  padding-top: 8vh;
  padding-bottom: 3vh;
}

#top p {
  font-size: 1.5vmax;
  /* word-spacing: 2px; */
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 7vh;
}

#footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#footer-icon a {
  font-size: 1.5vmax;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1vmax;
  cursor: pointer;
  transition: 0.2s;
}

#footer-icon a:hover {
  background-color: white;
  color: #11111c;
}

#bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #11111c;
  padding: 1.5vw 4vw;
}

#bottom #left {
  width: 15%;
  display: flex;
  justify-content: center;
}

#bottom #left img {
  width: 5vmax;
  height: 100%;
  margin: auto;
}

#footer #bottom #center {
  width: 60%;
}

#bottom #center {
  /* align-items: center; */
  justify-content: space-around;
  display: flex;
  /* gap: 15vw; */
  /* width: 60%; */
}

#center .center-part {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

#footer a {
  transition: 0.2s;
}

.center-part a {
  color: white;
  text-decoration: none;
  font-size: 0.9vmax;
}

#bottom #right {
  width: 25%;
  display: flex;
  justify-content: center;
}

#contact p {
  font-size: 1.5vw;
  color: white;
  margin-bottom: 15px;
}

.contact-icon {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.contact-icon i {
  font-size: 1.3vmax;
  color: white;
}

.contact-icon a {
  color: white;
  margin-left: 15px;
  font-size: 1vw;
  display: block;
  text-decoration: none;
}

#footer #copy {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
  padding-bottom: 20px;
}

#right-main-nav h4:hover {
  opacity: 65%;
  transition: 0.3s;
}
